<main>
    <div class="data-container">
        <div class="left">
            asdf
        </div>
        <div class="right">
            <div class="graph">
                <div class="bar_chart">
                    <canvasjs-chart [options]="chartOptions_barchart" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                    <canvasjs-chart [options]="chartOptions_Positive_barchart" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                    <canvasjs-chart [options]="chartOptions_Negative_barchart" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                </div>
                <hr>
                <canvasjs-chart [options]="chartOptions_Pie" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
            </div>
        </div>
    </div>
</main>