<main>
    <div class="banner_container">
        <img src="\assets\images\banner.jpg" class="banner_image" alt="">
    </div>
    <div class="category_heading">Medal Worthy Brands To Bag</div>
    <div class="category_items">
        <a href="#"><img src="\assets\images\offers\1.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\2.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\3.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\4.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\5.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\6.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\7.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\8.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\9.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\10.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\11.png" class="sale_item"></a>
        <a href="#"><img src="\assets\images\offers\12.png" class="sale_item"></a>
    </div>

    <div class="category_heading">Shop by Category</div>
    <div class="category_items">
        <a href="#"><img src="\assets\images\categories\1.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\2.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\3.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\4.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\5.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\6.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\7.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\8.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\9.jpg" class="sale_item"></a>
        <a href="#"><img src="\assets\images\categories\10.jpg" class="sale_item"></a>
    </div>
</main>