.banner_container {
    margin: 40px 0;
}
.banner_image {
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category-items {
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item {
    width: 250px;
}

.items_container{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item_container{
    width: 250px;
    margin: 15px 0px;
    height: 520px;
}
.item_image{
    width: 100%;
}
.rating{
    font-size: 12px;
    font-weight: 700;
}
.company_name{
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-top: 15px;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item_name{
    color: #535766;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.price{
    margin-top: 8px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}
.current_price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original_price{
    font-size: 12px;
    font-weight: 400;
    color: #7e818c;
    text-decoration: line-through;
    margin-left: 5px;
}
.discount{
    font-size: 12px;
    font-weight: 400;
    color: #ff905a;
    margin-left: 5px;
}
.btn_add_bag{
    margin-top: 5px;
    font-size: 16px;
    padding: 6px 15px;
    width: 100%;
    background-color: #ff3f6c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn_feedback{
    margin: 10px 0px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn_feedback:hover{
    transform: scale(1.1);
}
.btn_feedback fa-icon{
    font-size: 22px;
    color: #ff3f6c;
}
.feedback, .feedback .P_N{
    background-color: inherit;
    display: flex;
    justify-content: center;
}
.feedback .term{
    background-color: inherit;
    display: flex;
    justify-content: center;
    margin-right: 8rem;
}
.feedback .term .options{
    border: 1px solid #a7a5a5 ;
    border-radius: 50%;
    padding: 8px;
    margin: 2px 6px;
    cursor: pointer;
    height: 15px;
    display: flex;
}
.feedback .term .options fa-icon{
    font-size: 14px;
}
.feedback .P_N .options{
    border: 1px solid #a7a5a5 ;
    border-radius: 50px;
    padding: 8px;
    margin: 0px 6px;
    cursor: pointer;
}

#body-feedback{
    background-color: inherit;
    padding: 8px 2px;
}
#modal-feedback{
    width: 220px; 
}


.modal{
    position: relative;
    bottom: 3rem;
    left: 2.5rem;
}
